.nav-1-link {
	margin: auto;
	text-decoration: none;
	color: purple;
	letter-spacing: 1px;
	transition: .2s ease-in-out;
}

.nav-1-link:hover {
	color: pink;
}

nav {
	display: flex;
	width: 100%;
	height: 40px;
}

.navigation {
	width: 600px;
	height: 50px;
	left: 0;
	right: 0;
	margin: auto;
	margin-top: 5px;
	position: absolute;
	z-index: 100;
}

.navigation-2 {
	height: 50px;
	left: 0;
	right: 0;
	top: 0;
	position: fixed;
	z-index: 100;
	transition: visibility 0s, opacity 0.5s ease-in-out;
	background-color: white;
}

.navbar-bg {
	width: 600px;
	height: 100%;
	margin: auto;
	border-bottom: 2px solid pink;
}

.nav-2-link {
	height: 100%;
	width: 25%;
	transition: .2s;
	color: purple;
}

.nav-2-link span {
	padding-top: 14px;
	display: inline-block;
	vertical-align: middle;
}

.nav-2-link:hover {
	background-color: pink;
	color: white;
}

.hidden {
	visibility: hidden;
	opacity: 0;
}

.navigation_nav {
	height: 100%;
	text-align: center;
}

.nav-white {
	background-color: white;
	border-bottom: solid pink 1px;
}

.navbar-fixed {
	position: fixed;
	top: 0;
}

.mobile-nav-wrapper {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 250px;
}

.mobile-top-nav {
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 50px;
	background-color: rgba(167, 222, 223, 0.5);
}

.mobile-top-nav button {
	background-color: rgba(255, 255, 255, 0);
	border: none;
	text-decoration: none;
	cursor: pointer;
}

.mobile-top-nav button:focus {
	outline: none;
}

.mobile-top-nav svg {
	margin-top: 9px;
	margin-left: 9px;
}

.drop-down-nav {
	position: absolute;
	top: 50px;
	z-index: 100;
	height: 200px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.5);
}

.mobile-nav {
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.mobile-nav-link {
	width: 100%;
	height: 25%;
	padding-top: 14px;
	text-align: center;
	text-decoration: none;
	color: purple;
	transition: all .2s ease-in-out;
}

.mobile-nav-link:hover {
	background-color: pink;
	color: white;
}