@media (max-width: 580px) {
	.navigation button {
		display: inline-block !important;
	}

	.navbar-container {
		display: none;
	}
}

nav {
	display: flex;
}

.navigation {
	width: 100%;
	height: 50px;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
	z-index: 100;
	background-color: white;
	border-bottom: solid pink 2px;
}

.navbar-container {
	height: 100%;
	width: 600px;
	margin: auto;
}

.navigation-nav {
	height: 100%;
	width: 100%;
	text-align: center;
}

.nav-1-link {
	height: 100%;
	width: 150px;
	color: purple;
	text-decoration: none;
	transition: .2s ease-in-out;
}

.nav-1-link:hover {
	background-color: pink;
	color: white;
}

.nav-1-link span {
	padding-top: 12px;
	display: inline-block;
}

.navbar-fixed {
	position: fixed;
	top: 0;
}




.navigation button {
	display: none;
	background-color: rgba(255, 255, 255, 0);
	border: none;
	text-decoration: none;
	cursor: pointer;
}

.navigation button:focus {
	outline: none;
}

.navigation svg {
	fill: pink;
	margin-top: 9px;
	margin-left: 9px;
}

.drop-down-nav {
	position: absolute;
	top: 50px;
	z-index: 100;
	height: 200px;
	width: 100%;
	background-color: rgb(255, 255, 255);
	border-bottom: 2px solid pink;
}

.mobile-nav {
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.mobile-nav-link {
	width: 100%;
	height: 25%;
	padding-top: 14px;
	text-align: center;
	text-decoration: none;
	color: purple;
	transition: all .2s ease-in-out;
}

.mobile-nav-link:hover {
	background-color: pink;
	color: white;
}